certifi==2024.6.2
charset-normalizer==3.3.2
cvlib==0.2.7
distlib==0.3.8
filelock==3.15.1
idna==3.7
imageio==2.34.1
imutils==0.5.4
numpy==2.0.0
opencv-contrib-python==4.10.0.84
pillow==10.3.0
platformdirs==4.2.2
progressbar==2.5
requests==2.32.3
urllib3==2.2.2
virtualenv==20.26.2
